footer {
  min-height: 10vh;
  background: #070707;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
    flex: 1;
    list-style: none;
    justify-content: space-between;

    .social-link {
      transition: transform 200ms ease;
    }

    .social-link:hover {
      transform: scale(1.2);
    }
  }

  h1 {
    flex: 3;
  }
}