@import "_normalize.scss";
@import "_typescale.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
}

@import "1-home";
@import "2-features";
@import "3-soon";
@import "4-footer";
@import "5-mobile";



